body {
    background: #e2e1e0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.app-container {
    position: relative;
    top: 80px;
}

.stadiums {

}

.stadiums img {
    width: 200px;
}

.teams img {
    width: 200px;
}

.card {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background-color: white;
    border-radius: 2px;
}

.groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.groups .group-block {
    width: 200px;
    margin: 20px;
}

.group-block .title {
    text-align: center;
    font-weight: bold;
}

.group-team {
    margin: 8px;
}

.group-team .flag {
    height: 25px;
    width: 40px;
    display: inline-block;
}

.group-team .flag img {
    width: 100%;
    height: 100%;
}

.group-team .name {
    display: inline-block;
}

.wc-table {
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
    text-align: center;

}

.wc-table td {
    vertical-align: middle;
}

.title-block {
    color: #424242;
}