<!DOCTYPE html>
<html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="WEB-INF/template/template.xhtml">

    <ui:define name="title">Groups</ui:define>

    <ui:define name="section-title"><h1>All Groups</h1></ui:define>

    <ui:define name="content">
        <div class="container groups">
            <ui:repeat value="#{groupBean.groupWithTeams}" var="g">
                <div class="group-block card">
                    <div class="title">
                        ${g.groupName}
                    </div>
                    <div class="group-teams">
                        <ui:repeat value="#{g.teamItems}" var="t">
                            <div class="group-team">
                                <div class="flag">
                                    <img src="${t.flag}"/>
                                </div>
                                <div class="name">
                                    ${t.name}
                                </div>
                            </div>
                        </ui:repeat>
                    </div>
                </div>
            </ui:repeat>
        </div>
    </ui:define>
</ui:composition>
</html>
