<!DOCTYPE html>
<html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="WEB-INF/template/template.xhtml">

    <ui:define name="title">Home</ui:define>

    <ui:define name="content">
        <main class="container app-container">
            <div class="jumbotron">
                <h1>Hey !</h1>
                <p class="lead">Welcome on our World Cup 2018 application !</p>
            </div>
        </main>
    </ui:define>
</ui:composition>
</html>
