<!DOCTYPE html>
<html xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="WEB-INF/template/template.xhtml">

    <ui:define name="title">Stadiums</ui:define>

    <ui:define name="section-title"><h1>All Stadiums</h1></ui:define>

    <ui:define name="content">
        <div class="container stadiums">
            <h:dataTable value="#{stadiumBean.stadiumDataModel}" var="stadium" styleClass="wc-table table table-bordered">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{stadium.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Name"/>
                    </f:facet>
                    <h:outputText value="#{stadium.name}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="City"/>
                    </f:facet>
                    <h:outputText value="#{stadium.city}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="City"/>
                    </f:facet>
                    <h:graphicImage value="#{stadium.image}"/>
                </h:column>
            </h:dataTable>
        </div>
    </ui:define>
</ui:composition>
</html>
