<!DOCTYPE html>
<html xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="WEB-INF/template/template.xhtml">

    <ui:define name="title">Teams</ui:define>

    <ui:define name="section-title"><h1>All Teams</h1></ui:define>

    <ui:define name="content">
        <div class="container teams">
            <h:dataTable value="#{teamBean.teamDataModel}" var="team" styleClass="wc-table table table-bordered">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{team.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Name"/>
                    </f:facet>
                    <h:outputText value="#{team.name}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Fifa Code"/>
                    </f:facet>
                    <h:outputText value="#{team.fifaCode}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Iso"/>
                    </f:facet>
                    <h:outputText value="#{team.iso2}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Flag"/>
                    </f:facet>
                    <h:graphicImage value="#{team.flag}"/>
                </h:column>
            </h:dataTable>
        </div>
    </ui:define>
</ui:composition>
</html>
